body {
  font-family: sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

p {
  color: #fff;
  font-weight: bold;
  font-size: 4px;
}
.form {
  /* border-radius: 50%; */
  border: 5px solid #F00000;
  max-width: 800px !important;
  margin: 15px auto 50px auto;
  border-radius: 35px 35px 15px 15px / 35px 35px 15px 15px;
  width: 100%;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-1,.col-2,.col-4,.col-5 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.top {
  background-color: black;
  height: 50px;
  border-radius: 30px 30px 0px 0px / 30px 30px 0px 0px;
}
.second {
  margin:0px 30px;
  background-color: black;
  width: 100%;
  height: 150px;
}
.window1 {
  background-color:gray;
  border-radius: 200px 0px 0px 0px / 200px 0px 0px 0px;
}

.window2 {
  background-color:gray;
  border-radius: 0px 200px 0px 0px / 0px 200px 0px 0px;
}

.third {
  background-color: black;
  height: 40px;
}
.title {
  background-color:#3d3d3d;
  font-size: 7px;
  padding: 5px 5px 5px 0;
  display:flex;
  justify-content:space-between;
  
}
.fourth {
  background-color: black;
  height: 80px;
}
.function{
  background-color:#4c4c4c;
  border-radius: 0px 0px 5px 5px / 0px 0px 5px 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.fifth {
  background-color: black;
  height: 40px;
  border-radius: 0px 0px 10px 10px / 0px 0px 10px 10px;
}

.monitor {
  border-bottom-left-radius : 10px;
  border-bottom-right-radius : 10px;
}

h1 {
 font-size: 10px !important;
 font-weight: bold;
 color: white !important;
 margin-bottom: 15px !important;
}

h2 {
  padding-top: 5px;
  /* padding-bottom: 5px; */
  font-size: 7px !important;
  font-weight: bold;
  color: white !important;
 }

h3 {
  font-size: 1px !important;
  font-weight: bold;
  color: white !important;
}

h4 {
  font-size: 1px !important;
  font-weight: bold;
  color: white !important;
  margin-bottom: auto !important;
}

h5 {
  text-align: center;
  font-size: 4px !important;
  font-weight: bold !important;
  color: #3d3d3d !important;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: auto !important;
}
.company {
  margin-top: 25px;
}

.fourth-row {
  border-radius: 0px 0px 30px 30px / 0px 0px 30px 30px;
}
.display{
  width:100%;
  height:60px;
  background-color: #9fc983;
  margin-top:10px;
  border-radius: 2px 0px 0px 2px / 2px 0px 0px 2px;
}

.disp-left1 p {
  padding:0 2px 0 2px !important;
}
.disp-left1{
  padding-top: 5px;
  padding-left:2px;
  height:16px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 13px;
}
.syudo {
  /* width: 50%; */
  line-height: 11px;;
  border-radius: 1px;
  background-color: #3f3f3f;
  font-size: 7px;
}

.yonetsu {
  /* width: 50%; */
  line-height: 10px;
  color: #3f3f3f;
  border-radius: 1px;
  border: 1px solid #3f3f3f;
  font-size: 7px;
}

.ondo {
  /* width: 100%; */
  line-height: 11px;
  border-radius: 1px;
  background-color: #3f3f3f;
  font-size: 5px;
}

.level {
  /* width: 100%; */
  line-height: 10px;
  color: #3f3f3f;
  border-radius: 1px;
  border: 1px solid #3f3f3f;
  font-size: 7px;
  text-align: center;
}

.menu {
  /* width: 80%; */
  line-height: 11px;
  border-radius: 1px;
  background-color: #3f3f3f;
  font-size: 7px;
  
}

.disp-left2{
  height:30px;
}

.scene {
  color: #3f3f3f;
  font-size: 9px !important;
  line-height: 20px;
}

.number1 {
  color: #3f3f3f;
  font-size: 16px !important;
  line-height: 17px;
}

.tani {
  color: #3f3f3f;
  font-size: 6px !important;
  line-height: 25px;
}

.number2 {
  color: #3f3f3f;
  font-size: 16px !important;
  line-height: 17px;
}

.fun {
  color: #3f3f3f;
  font-size: 6px !important;
  line-height: 25px;
}

.number3 {
  color: #3f3f3f;
  font-size: 16px !important;
  line-height: 17px;
}

.byou {
  color: #3f3f3f;
  font-size: 6px !important;
  line-height: 25px;
}

.disp-right {
  width:100%;
  height:60px;
  background-color: black;
  margin-top:10px;
  padding-top: 10px;
  border-radius: 2px;
  border-radius: 0px 2px 2px 0px / 0px 2px 2px 0px;
}
.disp-right p {
  font-size: 7px !important;
  margin-bottom: 5px !important;
  color:#f0bc69;
  text-shadow: 0 0 10px red,0 0 15px red;
}

#done {
  width: 35px;
  height: 35px;
  font-size: 6px;
  border-radius: 50%;
  background-color:#fff;
}

#start {
  width: 45px;
  height: 45px;
  font-size: 7px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  background-color: peru;
}

#reset {
  margin-top: 30px;
  width: 35px;
  height: 35px;
  font-size: 5px;
  border: 1px solid #F00000;
  border-radius: 50%;
  background-color:#f2f2f2;
  box-shadow: 0 2px 2px  #a2a2a2;
}

/* ボタンをへこませる */
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6,#reset:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.seal {
  width:45px;
  margin:10px auto;
  padding:2px 2px 2px 2px !important; 
  border: 1px solid #fff;
  border-radius: 10%;
  background: #000;
}

.buttons {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display:flex;
  justify-content:center;
  
}
#btn1,#btn2,#btn3,#btn4,#btn5,#btn6 {
  width:50px;
  height:20px;
  display: inline-block;
  margin-top: 10px; 
  color: #fff;
  background-color: #000;
  border-radius: 10%;
  border: 2px solid #1b1b1b;
  font-weight: bold;
}
.btn-left {
  margin-right:5px;
}

#btn1 {
  font-size: 6px;
}
#btn2 {
  font-size: 6px;
}
#btn3 {
  font-size: 6px;
}
#btn4 {
  font-size: 1px;
}
#btn5 {
  font-size: 1px;
}
#btn6 {
  font-size: 1px;
}

.btn_innner{
  width:95%;
  height:95%;
  border: 0.5px solid #fff;
  border-radius:10%;
}
